:root {
  --bg-light: #ffffff;
  --bg-dark: #000000;

  --content-light: #d1d2d7;
  --content-dark: #565656;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-light);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  transition: background-color 0.4s ease-in-out;
}

.container.dark {
  background-color: var(--bg-dark);
}

.content {
  min-height: 700px;
  min-width: 400px;
  width: 447px;
  position: relative;
  background-color: var(--content-light);

  border-radius: 20px;
  padding: 75px 38px 50px 38px;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: inset rgb(0, 0, 0) 0px 0px 10px -3px;
  transition: background-color 0.4s ease-in-out;
}

.content.dark {
  background-color: var(--content-dark);
}

img {
  width: 140px;
  position: absolute;
  top: 23px;
  left: 30px;
}
