:root {
  --input-bg-light: #d5e1e3;
  --input-bg-dark: #181818;

  --input-color-light: #000000;
  --input-color-dark: #ffffff;

  --especial-color: #a15208;
}

@font-face {
  font-family: 'Digital';
  src: url('../../../assets/fonts/DS-DIGI.TTF') format('truetype');
}

.screen {
  height: 190px;
  border: 10px solid #62656e;
  border-radius: 8px;
  background-color: var(--input-bg-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.screen:focus-within {
  outline: auto;
}

.screen-dark {
  background-color: var(--input-bg-dark);
}

.operation {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  border: 1px solid black;
}

.calculation {
  color: var(--input-color-light);
  font-size: 14px;
}

.calculation-dark {
  color: var(--input-color-dark);
}

.especial {
  color: var(--especial-color);
  font-size: 18px;
}

.input {
  width: 100%;
  height: 100%;
  text-align: end;
  font-family: 'Digital';
  font-size: 80px;
  color: var(--input-color-light);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0 auto;
}

.input-dark {
  color: var(--input-color-dark);
}
